/*

# This is an inclusive gitignore - everything is ignored, use ! operator to choose what we want added back
!/Scripts
!/.etc.lightdm

!/.config
/.config/*
!/.config/Code/
/.config/Code/*
!/.config/Code/User/
/.config/Code/User/*
!/.config/Code/User/settings.json
!/.config/Code/User/keybindings.json
!/.config/Code/User/userExtensions.sh
!/.config/Code/User/snippets

!/.config/i3
!/.config/i3blocks
!/.config/compton.conf
!/.config/rofi

!/.github

!setupUbuntu.sh
!README.md
!.userInstalledPackages
!.Xdefaults
!.Xresources
!.gitignore
!.xinitrc
!.zshrc
!Dockerfile
!action.yml
!prepush.sh